<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


 

  <!-- Main Content -->

  <main>
    <!-- <img src="./Assets/index_raphael.jpg" class="img-fluid" alt="Responsive image"> -->

    <div class="container"></div>
      <div class="jumbotron">      
        <h1 class="display-4">Hello! I'm Raphael</h1>
        <h1>Welcome to <%= title %></h1>
      </div>
    </div>
  </main>

  


  <%- include partials/bottom_nav.ejs %>

  <%- include partials/footer.ejs %>